<div class="container">
  <div class="details-container" *ngFor = "let item of items | async; let i = index ">
      <div class="row">
          <div class="col-md-9">
             <p>{{item.message}}</p>
          </div>
          <div class="col-md-3">
              <div id="buttons" class="pull-right">
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-danger">Danger</button>
              </div>
          </div>
        </div>
  </div>
  
  <div id="chat">
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter Message</label>
          <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]='msg' #message>
        </div>
       
      </div>
      <div class="col-md-3">
        <div id="buttons" class="pull-right">
          <button type="button" class="btn btn-primary" (click)="send(message.value)">send</button>
        </div>
      </div>
    </div>
  </div>
</div>